section.gallery{
    display:flex;
    justify-content:center;
    padding:40px 0px;
}
section.gallery>.col{
    width:450px;margin:20px;
}
/* section.gallery>.col>.picture */
section.gallery>.col>.picture{
    width:100%;height:500px;
    text-align:center;color:#ffffff;
}
section.gallery>.col>.picture-1{
    background-image:url(hat.jpg);
    background-size:cover;
}
section.gallery>.col>.picture-2{
    background-image:url(8.jpg);
    background-size:cover;
}
section.gallery>.col>.text{
    box-sizing:border-box;
    width:100%;height:300px;
    text-align:center;color:#000000;
    border:4px solid #000000;
    line-height:0.9em;  /* 讓文字區塊行高更靠近 */
}
section.gallery>.col>.block{
    margin-bottom:40px;
    display:flex;justify-content:center;align-items:center;
    /* 完美置中 */
}
section.gallery>.col>.block>.words{
    width:100%;
}
section.gallery>.col>.block>.words>.title{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size:2em;font-weight:bold;
    margin-bottom:30px;
}
section.gallery>.col>.block>.words>.story{
    font-size:1.5em;margin-bottom:40px;
}
section.gallery>.col>.block>.words>.action>.btn{
    font-size:0.8em;color:#ffffff;
    border:1px solid #ffffff;
    background-color:rgba(0,0,0,0.3);   /* 使用rgba色彩 最後一個項目條透明度  */
    padding:10px 20px;
    transition:background-color 0.5s;
    cursor:pointer;
}
section.gallery>.col>.block>.words>.action>.btn:hover{
    background-color:#000000;
}
/* 螢幕尺寸小於 800 像素時 套用以下設定 */
@media(max-width:800px){
    section.gallery{
        flex-wrap:wrap;  /* 超出範圍時段落往下換行 */
    }
    section.gallery>.col{
        width:90%;margin:20px 0px;
    }
    section.gallery>.col:last-child{
        display:flex;flex-direction:column-reverse; /* 讓段落直列且翻轉 */
    }
}